{% extends 'app/base.html' %}
{% load static%}

        
{% block load_page %}
<style>
    .section-title {
        font-size: 1.25rem;
        color: #333;
        margin-bottom: 20px;
        font-weight:bold;
    }

</style>
<section class="py-5">
    <div class="container">
        <h1 class="text-center mb-4 text-dark">Giới thiệu về GamePad</h1>
        <p> Trang GamePad là nền tảng trực tuyến cho phép người dùng mua, tải xuống hoặc nhận key kích hoạt game trên thiết bị như PC.</p>

        <p class="section-title ">Game điện tử có rất nhiều thể loại khác nhau, mỗi thể loại mang đến một trải nghiệm riêng biệt. Mỗi thể loại có thể được chơi bằng các dụng cụ điều khiển khác nhau như bàn phím & chuột (PC), tay cầm (console), vô lăng (game đua xe), cần điều khiển (joystick cho game mô phỏng bay), hoặc VR headset (game thực tế ảo). Dưới đây là các thể loại game và dụng cụ điều khiển phổ biến nhất:</p>
        <ul>
            <li>Hành động - Thể loại tập trung vào phản xạ nhanh, kỹ năng chiến đấu và di chuyển của người chơi.</li>
            <li>Phiêu lưu - Chú trọng vào cốt truyện, khám phá thế giới và giải đố.</li>
            <li>Nhập vai - Cho phép người chơi nhập vai vào nhân vật, phát triển kỹ năng và cốt truyện.</li>
            <li>Mô phỏng - Mô phỏng thực tế trong nhiều lĩnh vực khác nhau.</li>
            <li>Tay cầm chơi game - Được thiết kế với nút bấm, cần analog, D-pad, trigger, giúp điều khiển nhân vật mượt mà hơn.</li>
            <li>Vô lăng chơi game - Cung cấp trải nghiệm chân thực với force feedback, cảm giác như lái xe thật.</li>
            <li>Các danh mục khác...</li>
        </ul>

        <p class="section-title ">GamePad cam kết mang đến cho khách hàng những dịch vụ tốt nhất:
        </p>
        <ul>
            <li>Chất lượng và nguồn gốc rõ ràng.</li>
            <li>Giao dịch nhanh chóng.</li>
            <li>Chính sách đổi trả dễ dàng trong vòng 7 ngày nếu sản phẩm gặp lỗi do bên sản xuất hoặc giao sai hàng.</li>
            <li>Đội ngũ hỗ trợ khách hàng nhiệt tình, sẵn sàng giải đáp mọi thắc mắc và hỗ trợ trong suốt quá trình giao dịch.</li>
        </ul>

        <p>Hãy đến với GamePad cùng chúng tôi xây dựng một cộng đồng mua bán uy tín, và hãy trải nghiệm các tay cầm và các con game trên trang chúng tôi.</p>
    </div>
</section>

{% endblock load_page %}